<div class='mainpage'>
  <img id='beer' src='/images/beer.png' alt='beer' />
  <a id='checkBeer' href='/beers'>Check the Beers!</a>
  <a id='randomBeer' href='/random-beer'>Check a Random Beer</a>
</div>